.main-header {
  $mainHeaderColor: $white;

  background-color: $teal;
  color: $mainHeaderColor;
  margin-bottom: 1rem;
  z-index: 5;
  position: relative;
  font-weight: bold;

  @extend .shadow;

  a {
    padding: 0 !important;
    margin: 0 0.5rem;
    color: $mainHeaderColor;
    border-bottom: 2px solid rgba($mainHeaderColor,0);
    transition: border 0.25s;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid rgba($mainHeaderColor,1);
    }
  }
}

.navbar {
  @extend .container;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  margin: 0 1rem 0 0;
  padding: 0;
  font-size: 1.5rem;
}

.page-header {
  @extend .col-md-12;
}
