$header-text-color: $theme-contrast-color;

.page-header {
  @extend .container;
  @extend %inverted-links;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  z-index: 5;
  position: relative;

  @media(min-width: $xl-width) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .navbar {
    @extend %collapsible-list;

    @media(min-width: $xl-width) {
      justify-content: space-between;
      align-items: center;
    }

    padding-top: 0;
    padding-bottom: 0;

  }

}

.menu-links {
  justify-content: space-between;
}

.navbar-nav {
  @extend %collapsible-list;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


