.main {
  margin-bottom: 2rem;
  min-height: calc(100vh - 7.7rem); /* Full height minus (header + footer) */
}

.default-home {
}

h1 {
  width: 100%;
}

.tagline {
  font-size: 1.4rem;
}

.block-wrapper {
  padding: 0.5rem 1rem 1rem;
}

.status-wrapper {
}

.jobs-wrapper {
}

.activity-wrapper {
}

.screenshot {
  max-width: 100%;
  border: 3px solid $gray-dark;
  padding: 5px;
  @extend %shadow-button;
}
