$theme-color: $yellorange;
$theme-border-color: $gray-dark;
$theme-contrast-color: $white;
$theme-link-color: $blue;

$theme-success-color: $green;
$theme-info-color: $cyan;
$theme-danger-color: $red;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.billhunt.dev/assets/fonts/montserrat-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("https://static.billhunt.dev/assets/fonts/montserrat/montserrat-500.woff2") format("woff2"),
    url("https://static.billhunt.dev/assets/fonts/montserrat/montserrat-500.woff") format("woff"),
    url("https://static.billhunt.dev/assets/fonts/montserrat/montserrat-500.ttf") format("truetype");
}
/* These gorgeous pixel fonts are by somepx! https://itch.io/profile/somepx */
@font-face {
  font-family: 'Absolute10';
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("https://static.billhunt.dev/assets/fonts/somepx/Absolute%2010.ttf") format("truetype");
}
@font-face {
  font-family: 'Futile14';
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("https://static.billhunt.dev/assets/fonts/somepx/Futile%2014.ttf") format("truetype");
}
@font-face {
  font-family: 'Winds7';
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("https://static.billhunt.dev/assets/fonts/somepx/Winds%207.ttf") format("truetype");
}
@font-face {
  font-family: 'Yolk6';
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("https://static.billhunt.dev/assets/fonts/somepx/Yolk%206.ttf") format("truetype");
}

/* Pixel fonts need to look pristine and not smoothed. */
$font-size-brand: 3rem;
$font-size-nav: 2rem;
$font-size-body: 1.5rem;

* {
  box-sizing: border-box;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

body {
  background: $theme-color;
  font-family: Winds7, Arial, Verdana, Helvetica, sans;
  font-size: $font-size-body;

  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4px); /* There's some weirdness here, so just avoid it. */
  margin: 0;
  padding: 0;
  border: 0;
}

input, button {
  font-family: Winds7, Arial, Verdana, Helvetica, sans;
  font-size: $font-size-body;
}

.title {
  margin: 0;
  font-family: Futile14, Montserrat, Arial, Verdana, Helvetica, sans;
  font-weight: 500;
}

h1 {
  @extend .title;
  font-size: 2.5rem;
}

h2 {
  @extend .title;
  font-size: 2rem;
}

h3 {
  @extend .title;
  font-size: 1.5rem;
}

p {
  margin: 0;

  & + & {
    margin-top: 1rem;
  }
}

.page-header, .page-footer {
  font-family: Futile14, Arial, Verdana, Helvetica, sans;
  font-size: $font-size-nav;
}

.navbar-brand {
  font-size: $font-size-brand;
}

.page-main {
  flex-grow: 1;
  @extend .container;
}

a {
  text-decoration: none;;
  color: $blue;

  &:hover, &:visited, &:active {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

%inverted-links {
  a {
    color: $theme-contrast-color;
    border-bottom: 2px solid rgba($theme-contrast-color, 0);
    transition: border 0.25s;

    &:hover, &:visited, &:active {
      color: $theme-contrast-color;
    }

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid rgba($theme-contrast-color, 1);
    }
  }
}



%standard-border {
  border: 4px solid $theme-border-color;
  border-radius: 4px;
}

%thin-border {
  border: 3px solid $theme-border-color;
  border-radius: 2px;
}

.block-wrapper {
  @extend %standard-border;
  @extend %shadow-block;
  background-color: $theme-contrast-color;
  max-width: calc(100% - 20px);

  @media(min-width: $xl-width) {
    max-width: 100%;
  }

  & + & {
    margin-top: 1rem;
  }
}

.modal-inside {
  @extend .block-wrapper;
}

.bwmd-content {
  font-family: Yolk6, Arial, Verdana, Helvetica, sans;
}